.App {
  text-align: center;
  width: 375px;
  margin:auto;
}

.active {
  background-color: #5bba6f;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-Form {
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding: 15px;
}

.logoBoi {
  height: 100%;
}
.tab {
  width     : 100%;
  text-align: left;
}
