.App {
  text-align: center;
}

.tab {
  width           : 100%;
  padding         : 1em 2em;
  background-color: #5bba6f;
  border-radius   : 5px;
  margin          : 0.5em auto;

}

.tabHeading {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;
  background-color: #e6e8e6;
  border-radius   : 5px;
  padding         : 1em;
}

.tabHeading h2 {
  margin: auto 0;
}

.tabHeading .formModalButton {
  background-color: #e6e8e6;
  border          : 3px solid #249633;
  align-content   : right;
}

.tabHeading .formModalButton:hover {
  background-color: #249633;
  color           : #e6e8e6;
  width           : none;
}

.tabContent {
  display            : flex;
  justify-content    : space-evenly;
  padding            : 1em;
  /* background-color: #e6e8e6; */
}

.nameDateCol {
  width     : 75%;
  text-align: left;
}

.totalCol {
  width     : 25%;
  text-align: left;
  margin    : auto 0;
}